{% extends 'layout.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block pageTitle %}Evaluer : {{ movie.title }}{% endblock %}

{% block main %}
  <!-- Deux boucles pour afficher les erreurs de validation ou le succès en cas d'enregistrement -->
  {% for error in app.flashes('errors') %}
    <div class="alert alert-danger">
        {{ error.message }}
    </div>
  {% endfor %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
  {% endfor %}

  <!-- Affiche le détail du film -->
  {% include 'movieDisplay.html.twig' %}
  <!-- Formulaire d'évaluation -->
  {{ form(form) }}
{% endblock %}
