{% extends 'layout.html.twig' %}

{% block title %}kataloge{% endblock %}

{% block pageTitle %}Les films o kataloge{% endblock %}

{% block main %}
  <div class="row">
    <!-- On boucle pour afficher chaque film de la variables movies sous forme de carte -->
    {% for movie in movies %}
    <div class="col-6 col-sm-4">
      <article class="card my-5 reverseBg border-0">
        <img class="card-img-top img-fluid" src="https://picsum.photos/400/300" alt="Card image cap">
        <section class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <div class="text-center">
            <a href="{{ path("evaluation"}}" class="btn secondbg">Evalué</a>
            <a href="{{ path("single"}}" class="btn secondBg">Voire</a>
          </div>
        </section>
      </article>
    </div>
  {% endfor }
  </div>
{% endblock %}
