/*
~~~~~~~~ Personnal stylesheet ~~~~~~~~~~~
 */

 /* Utility classes */
.mainBg {
  background-color: #00171f;
  color : #e5e5e5;
}

.reverseBg {
  background-color: #e5e5e5;
  color : #00171f;
}

.secondBg {
  background-color: #cca43b;
  color: white;
}

/* Specific styles */
hr {
  border: 1px solid #cca43b;
}
