<footer class="jumbotron jumbotron-fluid mainBg mb-0 mt-3 pb-0">
  <div class="container text-center">
    <p class="lead">Exercice produit dans le cadre de mon poste de formateur pour l'apprentissage du débugage sous Symfony</p>
  </div>
</footer>
