<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Si vous êtes un réalisateur français et que vous vous plaigniez des notes attribuées à votre navet, il ne fallait pas produire une telle bouze. XOXO</p>
  </div>
</div>
