<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Movie Rating</h1>
    <p class="lead">Le premier site français pour évaluer les films tout pourris produits par le cinéma français</p>
  </div>
</div>
