{% extends 'base.html.twig' %}

{% block body %}

{% include 'header.html.twig'%}

<div class="container">
  <h2>{% block pageTitle %}{% endblock %}</h2>
  {% block main %}{% endblock %}
</div>

{% include 'footer.html.twig'%}

{% endblock %}
