<header class="jumbotron jumbotron-fluid mainBg">
  <section class="container">
    <h1 class="display-4">Movie Rating</h1>
    <hr>
    <p class="lead">Le premier site français d'évaluation de films</p>
  </section>
</header>
