{% extends 'base.html.twig' %}

{% block body %}

{% include 'header.html.twig'%}

<main class="containeur">
  <h2>{% block pageTitle %}{% endblock %}</h2>
  {% block main %}{% endblock %}
</main>

{% endblock %}
