{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block pageTitle %}{% endblock %}

{% block main %}
  <form>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
      <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    <div class="text-center">
      <button class="btn secondBg" type="submit">Sign in</button>
    </div>
  </form>
{% endblock %}
